body{
    background-color: #c9d3da;
    flex-wrap: wrap;
    flex-direction: column;
}
.navigationimage1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 280px;
    margin: 50px;
    border-radius: 50px;
    flex-direction: column;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe1a,
   -20px -20px 60px #ffffff0c;
}
.navigationimage1:hover{
width: 285px;
height: 385px;
transition-duration: 0.15s;
}
.navigationimage:hover{
  width: 260px;
  height: 400px;
  transition-duration: 0.15s;
  }
.navigationimage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 250px;
    margin: 50px;
    border-radius: 50px;
    flex-direction: column;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe00,
   -20px -20px 60px #ffffff0e;
}

header{
  font-family: 'Rajdhani', sans-serif;
  font-size: large;
    display: flex;
    background-color: #ffffff00;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #d1cdcd00;
    box-shadow: 10px 10px 30px #0e0d0d00,
   -20px -20px 60px #ffffff00;
   color: #fffffff6;
}
.navigationdiv{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff00;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    margin: 50px;
    border-radius: 50px;
}
.lensonbutton:hover{
  width: 950px;
  height: 400px;
  transition-duration: 1.5s;
}
.lensonbutton{

    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;
        width: 900px;
        height: 380px;
        border-radius: 50px;
        background: #e0e0e028;
        box-shadow: 10px 10px 30px #bebebe1c,
       -20px -20px 60px #ffffff15;
}
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #090f14;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #26cfdb;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  .aboutmetitle{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff31;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1500px;
    margin: 50px;
    border-radius: 50px;
  }
  body{
    scroll-behavior: smooth;
  }
  .educationimage{
    height: 700px;
    width: 400px;
    border-radius: 50px;
    margin-left: 100px;
  }
  .educationsection{
    display: flex;
    background-color: #ffffff31;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    width: 1500px;
    margin: 50px;
    border-radius: 50px;
  }
.educationimage:hover{
  height: 720px;
  width: 420px;
  border-radius: 50px;
  margin-left: 100px;
  transition-duration: 1.5s;
}
  body{
    background-color: #090f14;
  }
  footer{
    display: flex;
    background-color: #ebebeb31;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 1500px;
    margin: 50px;
    border-radius: 50px;
  }
  .firstrowlogos{
width: 1400px;
height: 230px;
background-color: #9ac8e700;
border-radius: 30px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: space-around;
  }
  .secondrowlogos{
    width: 1400px;
    height: 230px;
    background-color: #c0ebee00;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
      }
  .contactlogo1{
    width: 400px;
    height: 200px;
    background-color: #192429ea;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .discordlogo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .contactlogo2{
    width: 400px;
    height: 200px;
    background-color: #f118c2fa;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .instagramlogo{
    width: 100px;
    height: 100px;
  }
  .contactlogo3{
    width: 400px;
    height: 200px;
    background-color: #51b2f3;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .twitterlogo{
    width: 100px;
    height: 100px;
  }
  .contactlogo4{
    width: 400px;
    height: 200px;
    background-color: #d0ff00;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .numberlogo{
    width: 100px;
    height: 100px;
  }
  .contactlogo5{
    width: 400px;
    height: 200px;
    background-color: #5ff75afb;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .spotifylogo{
    width: 100px;
    height: 100px;
  }
  .contactlogo6{
    width: 400px;
    height: 200px;
    background-color: #fcff49ee;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .snapchatlogo{
    width: 100px;
    height: 100px;
  }
  #socialbutton {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #36d0eb;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
  }
  
  #socialbutton:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  #socialbutton::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  #socialbutton:hover::before {
    width: 250%;
  }
  